/* #1 */
header {
  border: 1px solid goldenrod;
}
/* #2 */
nav ul {
  display: inline-block;
  list-style-type: square;
}
nav li {
  display: inline;
}
.disabled {
  color: grey;
}

a .disabled {
  color: purple;
}

.active {
  color: yellow;
}